a, a:link, a:visited {
	color: #0000CC !important;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

body, p, table, div {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	vertical-align: middle;
	/* background-color: #ffffff; */
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

thead, tbody, tfoot, tr, th, td {
	padding: 1px;
}

input, select, textarea, file {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000066;
	background-color: #FFFFFF;
	border: 1px solid #000066;
	vertical-align: middle;
}

img {
	border: 0;
	vertical-align: middle;
}

li {
	list-style : square;
}

pre {
	color : #666666;
	font-family : "Courier New", Courier, monospace;
	font-size : 8pt;
}

hr {
	height: 2px; border-width: 0; color: gray; background-color: gray;
}

/* BEGIN DIV layout */
#container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	min-width: 600px;
	width: 100%;
	padding: 0;
	background-color: #fcfcfc;
	border: 1px solid #444444;
}
#header{
	/* position: relative; */
	float: left;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 4px;
	font-size: 16px;
	box-sizing: border-box;
}
#nav {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	/* line-height: 30px; */  /* 'the space between' lines? */
	width: 100%;
	padding: 4px;
	text-align: center;
	background-color: #f3f3f3;
	border: 1px;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #666666;
	box-sizing: border-box;
}
.section {
	position: relative;
	/* float: right; */
	/* margin-left: auto;
	margin-right: auto; */
	width: 100%;
	padding: 4px;
	border: 1px solid #444444;
	box-sizing: border-box;
}
.sub-section {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 94%;
	padding: 0;
	border-spacing: 2px;
	border: 2px solid #cccccc;
	text-align: center;
	box-sizing: border-box;
}
.sub-edit-section {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	padding: 6px;
	border-spacing: 0;
	border: 1px;
	border-width: 0 1px 0 1px;
	border-style: solid;
	border-color: #444444;
	background-color: #f0f0f0;
	text-align: center;
	box-sizing: border-box;
}
.sub-edit-box {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	padding: 3px;
	background-color: #f0f0f0;
	border: 0;
	text-align: center;
	box-sizing: border-box;
}
/* END DIV layout */

.border-zero {
	border: 0 solid;
	border-bottom: 0 solid;
	border-left: 0 solid;
	border-right: 0 solid;
	border-top: 0 solid;
}

.port-edit-link {
	color: #0000CC;
}

.input-mini {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 6pt;
}

.text-small {
	font-size: 7pt;
}

.text-mini {
	font-size: 6pt;
}

.padded {
	padding: 1px;
}

.top_nav {
	color: #666666;
	font-size: 8pt;
	font-weight: bold;
}

.heading-small {
	font-size: 8pt;
	font-weight: bold;
	padding: 2px;
}

.heading-medium {
	font-size: 10pt;
	font-weight: bold;
	padding: 2px;
}

.heading-large {
	font-size : 12pt;
	font-weight : bold;
	padding: 2px;
}

.table-heading {
	color: #ffffff;
	font-weight : bold;
	background-color: #666666;
	padding: 2px;
}

.table-row-edit {
	background-color: #9FCFFF;
}

.table-row-edit-alt {
	background-color: #BFDFFF;
}

.colored_row {
	font-size: 10pt;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #000066;
}

.errormsg {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 9pt;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #BB0000;
	background-color: #F9F9CC;
	border: 1px solid #000066;
	padding-top: 6px;
	padding-bottom: 6px;
}

.successmsg {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 9pt;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #009900;
	background-color: #F9F9CC;
	border: 1px solid #000066;
	padding-top: 6px;
	padding-bottom: 6px;
}

.notifymsg {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 9pt;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000099;
	background-color: #F9F9CC;
	border: 1px solid #000066;
	padding-top: 6px;
	padding-bottom: 6px;
}
